<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Organizator Rozgrywek Sportowych</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/font-awesome/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="ng-alertify/ng-alertify.css" />
    </head>
    <body>
        <div class="container" ng-app="sportsOrganizer">
            <h2 class="text-center text-primary">Organizator Rozgrywek</h2>
            <div>

                <!-- DRUŻYNY -->
                <div ng-controller="teamsController" class="col-xs-12 thumbnail">
                    <h3 class="text-center text-primary">Drużyny</h3>
                    <table class="table table-striped">
                        <thead>
                            
                            <!-- SORTOWANIE DRUŻYN I NAGŁÓWEK TABELI-->
                            <tr>
                                <th>
                                    <a href="" ng-click="toggleSorting('id')">
                                        Id
                                        <span ng-if="sortingOptions.property === 'id'">
                                            <i ng-if="sortingOptions.reverse === false"  
                                                class="glyphicon glyphicon-arrow-down"></i>
                                            <i ng-if="sortingOptions.reverse === true"  
                                                class="glyphicon glyphicon-arrow-up"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="toggleSorting('name')">
                                        Nazwa Drużyny
                                        <span ng-if="sortingOptions.property === 'name'">
                                            <i ng-if="sortingOptions.reverse === false" 
                                                class="glyphicon glyphicon-arrow-down"></i>
                                            <i ng-if="sortingOptions.reverse === true" 
                                                class="glyphicon glyphicon-arrow-up"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="toggleSorting('foundationYear')">
                                        Rok Założenia
                                        <span ng-if="sortingOptions.property === 'foundationYear'">
                                            <i ng-if="sortingOptions.reverse === false"  
                                                class="glyphicon glyphicon-arrow-down"></i>
                                            <i ng-if="sortingOptions.reverse === true"  
                                                class="glyphicon glyphicon-arrow-up"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="toggleSorting('totalScore')">
                                        Punkty
                                        <span ng-if="sortingOptions.property === 'totalScore'">
                                            <i ng-if="sortingOptions.reverse === false"  
                                                class="glyphicon glyphicon-arrow-down"></i>
                                            <i ng-if="sortingOptions.reverse === true"  
                                                class="glyphicon glyphicon-arrow-up"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="toggleSorting('scoredGoals')">
                                        Strzelone Bramki
                                        <span ng-if="sortingOptions.property === 'scoredGoals'">
                                            <i ng-if="sortingOptions.reverse === false"  
                                                class="glyphicon glyphicon-arrow-down"></i>
                                            <i ng-if="sortingOptions.reverse === true"  
                                                class="glyphicon glyphicon-arrow-up"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="toggleSorting('lostGoals')">
                                        Stracone Bramki
                                        <span ng-if="sortingOptions.property === 'lostGoals'">
                                            <i ng-if="sortingOptions.reverse === false"  
                                                class="glyphicon glyphicon-arrow-down"></i>
                                            <i ng-if="sortingOptions.reverse === true"  
                                                class="glyphicon glyphicon-arrow-up"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>Opcje</th>
                            </tr>
                        </thead>
                        <tbody>

                                <!-- FILTROWANIE DRUŻYN -->
                            <tr>
                                <td>
                                    Filtry:
                                </td>
                                <td class="row">
                                    <input type="text" placeholder="Filtruj po nazwie"
                                        ng-model="filteringOptions.nameFilter" class="form-control">
                                </td>
                                <td>
                                    <input type="number" placeholder="Dolna granica"
                                        ng-model="filteringOptions.foundationYearLowerBound" class="form-control"
                                        min="{{datesConfig.min}}" max="{{datesConfig.max}}">
                                    do
                                    
                                    <input type="number" placeholder="Górna granica"
                                        ng-model="filteringOptions.foundationYearUpperBound" class="form-control"
                                        min="{{datesConfig.min}}" max="{{datesConfig.max}}">
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <!-- WYŚWIETLANIE DRUŻYN -->
                            <tr ng-repeat="t in sharedData.teams | addTeamPropertiesFilter: calculateTeamStatistics | teamsFilter: filteringOptions
                            | orderBy: sortingOptions.property: sortingOptions.reverse">
                                <td>{{ t.id }}</td>
                                <td>
                                    {{ t.name }}
                                </td>
                                <td>
                                    {{ t.foundationYear }}
                                </td>
                                <td>
                                    {{ t.totalScore }}
                                </td>
                                <td>
                                    {{ t.scoredGoals }}
                                </td>
                                <td>
                                    {{ t.lostGoals }}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-info" ng-click="getForEdition(t)">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger" ng-click="deleteTeam(t.id)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            <!-- EDYCJA/TWORZENIE DRUŻYN -->
                            <tr>
                                <td>
                                    {{ writeTeam.id }}
                                    <input type="hidden"
                                        ng-model="writeTeam.id" class="form-control">
                                </td>
                                <td>
                                    <input type="text" placeholder="Nazwa"
                                        ng-model="writeTeam.name" class="form-control">
                                </td>
                                <td>
                                    <input type="number" placeholder="Rok Założenia"
                                        ng-model="writeTeam.foundationYear" class="form-control"
                                            min="{{datesConfig.min}}" max="{{datesConfig.max}}">
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-md-2">
                                    <div class="btn-group">
                                        <button class="btn btn-success" 
                                            ng-click="(writeTeam.id == null) ? addTeam(writeTeam) : editTeam(writeTeam)">
                                            {{ (writeTeam.id == null) ? "Dodaj": "Edytuj" }}
                                        </button>
                                        <button ng-if="writeTeam.id != null" class="btn btn-danger" ng-click="resetWrite()">
                                            Anuluj
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- MECZE -->
                <div ng-controller="gamesController" class="col-xs-12 thumbnail">
                        <h3 class="text-center text-primary">Mecze</h3>
                        <table class="table table-striped">
                            <thead>
                                
                                <!-- SORTOWANIE MECZY I NAGŁÓWEK TABELI -->
                                <tr>
                                    <th>Id</th>
                                    <th class="text-center">Gospodarze</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-center">Goście</th>
                                    <th>Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
    
                                <!-- FILTROWANIE MECZY -->
                                <tr>
                                    <td>Filtry:</td>
                                    <td>
                                        <select ng-init="filteringOptions.teams[0].id = null" ng-model="filteringOptions.teams[0].id" class="form-control">
                                            <option ng-if="filteringOptions.teams[0].id !== null" value="null" selected="selected"></option>
                                            <option ng-repeat="t in sharedData.teams" ng-value="t.id">
                                                {{t.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <select ng-init="filteringOptions.teams[1].id = null"  ng-model="filteringOptions.teams[1].id" class="form-control">
                                            <option ng-if="filteringOptions.teams[1].id !== null" value="null" selected="selected"></option>
                                            <option ng-repeat="t in sharedData.teams" ng-value="t.id">
                                                {{t.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                
                                <!-- WYŚWIETLANIE MECZY -->
                                <tr ng-repeat="g in sharedData.games | gamesFilter: filteringOptions">
                                    <td class="col-md-1">{{ g.id }}</td>
                                    <td class="text-center">{{ getTeamById(g.teams[0].id).name }}</td>
                                    <td class="text-center col-md-2">{{ g.teams[0].score }}</td>
                                    <th class="text-center col-md-1"> : </th>
                                    <td class="text-center col-md-2">{{ g.teams[1].score }}</td>
                                    <td class="text-center">{{ getTeamById(g.teams[1].id).name }}</td>
                                    <td class="col-md-2">
                                        <div class="btn-group">
                                            <button class="btn btn-info" ng-click="getForEdition(g)">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </button>
                                            <button class="btn btn-danger" ng-click="deleteGame(g.id)">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    
                                    <!-- EDYCJA/DODAWANIE MECZY -->
                                    <td>
                                    {{ writeGame.id }}
                                        <input type="hidden"
                                            ng-model="writeGame.id" class="form-control">
                                    </td>
                                    <td>
                                        <select ng-init="writeGame.teams[0].id = null" ng-model="writeGame.teams[0].id" class="form-control">
                                            <option ng-repeat="t in sharedData.teams" ng-value="t.id">
                                                {{t.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <input type="number" placeholder="Punkty"
                                            ng-model="writeGame.teams[0].score" class="form-control"
                                                min="0">
                                    </td>
                                    <td class="text-center">
                                        :
                                    </td>
                                    <td class="text-center">
                                        <input type="number" placeholder="Punkty"
                                            ng-model="writeGame.teams[1].score" class="form-control"
                                                min="0">
                                    </td>
                                    <td>
                                        <select ng-init="writeGame.teams[1].id = null" ng-model="writeGame.teams[1].id" class="form-control">
                                            <option ng-repeat="t in sharedData.teams" ng-value="t.id">
                                                {{t.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-success" 
                                                ng-click="(writeGame.id === null) ? addGame(writeGame) : editGame(writeGame)">
                                                {{ (writeGame.id == null) ? "Dodaj": "Edytuj" }}
                                            </button>
                                            <button ng-if="writeGame.id != null" class="btn btn-danger" ng-click="resetWrite()">
                                                Anuluj
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>

        <!-- Zewnętrzne biblioteki -->
        <script src="/angular/angular.js"></script>
        <script src="/angular-touch/angular-touch.js"></script>
        <script src="/angular-animate/angular-animate.js"></script>
        <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="ng-alertify/ng-alertify.js"></script>

        <!-- Kod projektu -->
        <script src="/scripts/startup.js"></script>
        <script src="/scripts/filters.js"></script>
        <script src="/scripts/sportsService.js"></script>
        <script src="/scripts/teamsController.js"></script>
        <script src="/scripts/gamesController.js"></script>
    </body>
</html>